@model List<ProjetFinal_6224745.Models.VwDetailAgre>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Détails de l'appareil : @Model.First().Nom</h1>
<p><a asp-controller="Mouvements" asp-action="Index">Liste de mouvements</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Difficulté</th>
            <th>Nombre de mouvements</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Difficulte</td>
                <td>@item.NombreDeMouvementParDifficult</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>
