@model IEnumerable<ProjetFinal_6224745.Models.Agre>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <p class="col-auto"><a asp-controller="Utilisateurs" asp-action="Inscription">Inscription</a></p>
    <p class="col-auto"><a asp-controller="Utilisateurs" asp-action="Connexion">Connexion</a></p>
    <p class="col-auto"><a asp-controller="Utilisateurs" asp-action="Deconnexion">Deconnexion</a></p>
</div>

<p>Bounjour @ViewData["utilisateur"]</p></>

<h1>Agrès</h1>
<p><a asp-controller="Mouvements" asp-action="Index">Liste de mouvements</a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AgreId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>

</style>
